#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  height: 100%;
  max-width: 1280px;
}

.logo img {
  height: 200px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 10px 0;
}

.session {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-top, .game-bottom {
  display: flex;
  flex-direction: row;
}

.game .left {
  width: 60vw;
}


.game .right {
  width: 30vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .session {
    margin: 0 30px;
  }
}