#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  height: 100vh;
}

.logo img {
  height: 200px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  padding: 10px 0;
}